@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("fonts/inter/Inter.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
    src: url("fonts/jetbrains-mono/JetBrainsMono[wght].woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
    src: url("fonts/jetbrains-mono/JetBrainsMono-Italic[wght].woff2?v=3.19") format("woff2");
}

html {
    font-family: 'Inter var', sans-serif;
    font-variation-settings: 'wght' 400, 'slnt' 0;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-variant-ligatures: normal;
    font-weight: 400;
}
